@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
      format('woff');
    font-weight: 400;
    font-style: normal;
  }
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-decoration,
  input[type='search']::-webkit-search-results-button {
    display: none;
  }
}

body{
    @apply pt-20;
}
.nav-link {
    @apply relative;
}
.nav-link::before,
.nav-link::after {
    @apply content-[''] absolute w-[0%] h-0.5 bg-orange-500 duration-[0.3s] mx-auto -bottom-1 inset-x-0;
}
.nav-link:hover::before,
.nav-link:hover::after {
    @apply w-full;
}